<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  
  <h2>scenario1</h2>
  <app-scenario1component1></app-scenario1component1>
  <h2>scenario2</h2>
  <app-scenario2component1></app-scenario2component1>

  <h2>scenario3</h2>
  <app-scenario3component1></app-scenario3component1>

 <h2>scenario4</h2>
 <app-scenario4component1></app-scenario4component1>
 
 <h2>scenario5</h2>
 <app-scenario5component1></app-scenario5component1>

 <h2>scenario6</h2>
 <app-scenario6component1></app-scenario6component1>
</div>
<router-outlet></router-outlet>
